* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Mono', monospace;
    color: #2D2A32;
    margin: 0;
    font-size: 1.1em;
    background-color: #FAFDF6;
}

@media (max-width: 600px) {
    h1 {
        font-family: 'DM Sans', sans-serif;
        margin: 10% 3% 5%;
        font-weight: 200;
        font-size: 2.5em;
        white-space: nowrap;
        text-align: center;
    }

    .page-body {
        margin: auto 1.5%;
    }

    .remove-holder {
        display: none
    }

    .transaction-header {
        text-align: center;
        width: 100%;
        justify-content: space-between;
        display: flex;
        font-size: .9em;
    }

    .transaction-header input {
        border: none;
        font-size: 1em;
    }

    form {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    table input {
        font-size: 1em;
    }

    #total-section {
        font-size: 1.1em
    }

    .modal-content {
        width: 50%;
    }

    .modal-buttons button {
        padding: 2% 2%; 
        width: 40%;
        font-size: .7em;
    }

    #submit {
        padding: 1% 3%;
    }
}

@media (min-width: 600px) {
    h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 200;
        font-size: 4em;
        margin: 10% 3% 5%;
        white-space: nowrap;
    }

    .page-body {
        margin: auto 10%;
    }

    .transaction-header {
        text-align: center;
        width: 100%;
        justify-content: space-between;
        display: flex;
        font-size: 1em;
    }

    .transaction-header input {
        border: none;
        font-size: 1em;
    }

    table input {
        font-size: 1.1em;
    }

    #total-section {
        font-size: 1.2em
    }

    .modal-content {
        width: 25%;
    }

    .modal-buttons button {
        padding: 2% 2%; 
        width: 40%;
        font-size: .7em;
    }

    #submit {
        padding: 1% 2.5%; 
    }
}

@media (min-width: 1200px) {
    .page-body {
        margin: auto 20%;
    }

    .modal-content {
        width: 20%;
    }

    .modal-buttons button {
        padding: 2% 4%; 
        margin: 0 2%;
        width: 40%;
        font-size: .9em;
    }
}

@media (hover: hover) and (pointer: fine) {
    hr:hover{
        border: 5px solid #F92A82;
    }

    form {
        text-align: right;
    }

    #add-row-btn {
        display:none;
    }

    #submit:hover {
        color:#FAFDF6;
        letter-spacing: 0;
        background-color: #F92A82; 
    }
}

@media (hover: none) and (pointer: coarse) {
    .submit-ready {
        color:#FAFDF6 !important;
        letter-spacing: 0;
        background-color: #F92A82; 
    }

    form {
        text-align: center;
    }

    #add-row-btn {
        display:inline-block;
        padding: 1% 2%; 
        font-size: 1em; 
        border-radius: 50px; 
        color: #2D2A32; 
        font-family: 'DM Sans';
        font-weight: 200;
        border: #F92A82 solid 2px;
        cursor: pointer;
        margin-bottom: 2%;
    }

    #add-row-btn:active {
        color:#FAFDF6;
        letter-spacing: 0;
        background-color: #F92A82; 
    }

    #submit:active {
        color:#FAFDF6;
        letter-spacing: 0;
        background-color: #F92A82; 
    }
}

.page-header {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    background-color: #EAE151; 
}

.popout {
    color: #F92A82;
    transition: color 1s;
}

#logo {
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    font-size: 1.4em;
    text-align: center;
}

input {
    background-color: transparent;
    font-family: 'DM Mono', monospace;
    transition: letter-spacing .1s;
    cursor: text;
    color: #2D2A32;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

th {
    background-color: #EEEFA8;
}

tr {
    z-index: 5;
}

.add-row-btn {
    margin-top: 2%;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
  
.slide-in {
    animation: slideIn 0.3s ease-out;
}

.remove {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: auto;
    margin: 0;
}

.swipe {
    transition: transform .1s;
}

table input {
    width: 100%;
    height: 100%;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

th, td {
    padding: 1.5%;
    text-align: left;
}

::placeholder {
    font-family: 'DM Mono', monospace;
    font-size: 1em;
    color: #999;
    text-align: left;
}

input:focus {
    outline: none;
}

hr {
    border: 3px solid #2D2A32;
    cursor: pointer;
    transition: border .1s ease-out;
}

#customModal, 
#customModal2{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 200;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1.1em;
}

.modal-buttons {
    margin-top: 10px;
    text-align: center;
    color: #2D2A32; 
}

.modal-buttons button {
    border-radius: 50px; 
    font-family: 'DM Sans';
    font-weight: 200;
    border: #F92A82 solid 2px;
    color: #2D2A32;
    cursor: pointer;
}

.modal-buttons button:hover {
    color:#FAFDF6;
    transition: color .1s, background-color .1s;
    background-color: #F92A82; 
}
