<!DOCTYPE html>
<html>
    <head>

        <title>add transaction</title>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- delete icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap" rel="stylesheet">

        <!-- flatpickr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        
        <!-- own css -->
        <link rel="stylesheet" href="/static/transaction.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="theme-color" content="#EAE151">
        

    </head>
    <body>

        <div class="orientation-prompt">
            <p>please keep your device vertical for the best experience</p>
        </div>
        
        <div class="page-header"><span id="logo">BudgetMonkey</span></div>

        <div class="page-body">
            <br>
            <br>
            <h1>Add Trans<span class="popout">action</span></h1>
            
            <form autocomplete="off" id="transaction-form" action="/add_transaction" method="POST">
                <br>

                <table id="transaction-table" class="table-scroll">
                    <thead>
                        <tr>
                            <th style="width:17%">Date</th>
                            <th style="width:31%">Entity</th>
                            <th style="width:15%;">Amount</th>
                            <th style="width:24%">Category</td>
                            <th class="remove-holder" style="width:4%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="swipe inforow">
                            <td>
                                <input enterkeyhint="next" type="text" class="date" name="date[]" placeholder="--/--/----">    
                            </td>
                            <td>
                                <div class="autocomplete">
                                    <input enterkeyhint="next" type="search" class="entity" name="entity[]" placeholder="entity name"/>
                                </div>
                            </td>
                            <td>
                                <input enterkeyhint="next" type="number" class="total-price" name="total_price[]" step=".01" placeholder="0.00">
                            </td>
                            <td class="remove-adjacent">
                                <div class="autocomplete">
                                    <input enterkeyhint="next" type="search" class="category" name="category[]" placeholder="category"/>
                                </div>
                            </td>
                            <td class="remove-holder">
                                <button class="remove">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr class="add-row-btn">
                <br>
                <div>
                    <input style="margin:0 3%;" type ="button" value="add row" id="add-row-btn">
                    <input style="display:inline-block;" type="submit" value="submit" id="submit">
                </div>
            </form>
        </div>

        <div id="customModal">
            <div class="modal-content">
                <p>delete row?</p>
                <div class="modal-buttons">
                    <button onclick="closeModal()">cancel</button>
                    <button id="modalConfirm" onclick="confirmDelete()" class="submit-ready">proceed</button>
                </div>
            </div>
        </div>

        <div id="customModal2">
            <div class="modal-content">
                <p>incomplete fields!</p>
                <div class="modal-buttons">
                    <button onclick="closeModal2()" class="submit-ready">okay</button>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                // create data stuctures from templating
                var existingEntities = {{ ents | tojson}};

                // first row listeners
                $('.total-price').on('blur', formatTotal);
                flatpickr(".date", {
                    dateFormat: "m/d/y",
                    defaultDate: new Date({{y}}, {{m}}-1, {{d}}),
                    disableMobile: "true"
                });
                $(document).on('input', function() {
                    let isValid = true;
                    $(this).find('input[type="text"], input[type="number"], select').each(function() {
                        if ($(this).val().trim() === '') {
                            isValid = false;
                            document.getElementById('submit').classList.remove('submit-ready');
                            return false;
                        }
                    });
                    if (isValid) {
                        document.getElementById('submit').classList.add('submit-ready');
                    }
                });

                // adding a new row
                $('#add-row-btn').on('click', function() {
                    event.preventDefault();
                    var lastDateValue = $('#transaction-table tbody tr:last .date').val() || '';

                    $('#transaction-table tbody').append(
                        `<tr class="swipe inforow">
                            <td>
                                <input enterkeyhint="enter" type="text" class="date" name="date[]" value=${lastDateValue} placeholder="--/--/----">    
                            </td>
                            <td>
                                <div class="autocomplete">
                                    <input enterkeyhint="enter" type="text" class="entity" name="entity[]" placeholder="entity name"/>
                                </div>
                            </td>
                            <td>
                                <input enterkeyhint="enter" type="number" class="total-price" name="total_price[]" step=".01" placeholder="0.00">
                            </td>
                            <td class="remove-adjacent">
                                <div class="autocomplete">
                                    <input enterkeyhint="enter" type="text" class="category" name="category[]" placeholder="category"/>
                                </div>
                            </td>
                            <td class="remove-holder">
                                <button class="remove">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </td>
                        </tr>`
                    );

                    $('#transaction-table tbody tr:last-child').addClass('slide-in');

                    // listeners
                    $('.total-price').on('blur', formatTotal);

                    // auto completion
                    var entityElements = document.getElementsByClassName("entity");
                    for (var i = 0; i < entityElements.length; i++) {
                        autocomplete(entityElements[i], existingEntities);
                    }
                    flatpickr(".date", {
                        dateFormat: "m/d/y",
                        disableMobile: "true"
                    });

                });

                // inital auto completion
                autocomplete(document.getElementsByClassName("entity")[0], existingEntities);

                $(".add-row-btn").on('click', function() {
                    event.preventDefault();
                    $("#add-row-btn").trigger('click');
                });

                function formatTotal() {
                    var tot = $(this);
                    var val = parseFloat(tot.val())
                    tot.val(`${val.toFixed(2)}`);
                }
            });

            window.addEventListener('DOMContentLoaded', function() {
                function checkOrientation() {
                    if (window.innerHeight < window.innerWidth && window.innerHeight < 600) {
                        document.querySelector('.orientation-prompt').style.display = 'block';
                    } else {
                        document.querySelector('.orientation-prompt').style.display = 'none';
                    }
                }
            
                checkOrientation();
            
                window.addEventListener('resize', checkOrientation);
            });
        </script>
        <script src="/static/transaction.js"></script>
        <script src="/static/autocomplete.js"></script>
    </body>
</html>